* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #000f9be0;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 24px;
}
nav{
    background-color: #E3DAC9;
    display: flex;
    justify-content: center;
    width: 100% ;
    padding: 0;
}
.boton{
      display: block;
      margin-top: 5px;
      background-color: rgb(12, 64, 143);
      padding: 12px;
      color: #ffff;
      margin-bottom: 5px;
      border-radius: 510px;
      text-decoration: none;
      
}
footer {
    background-color: #727272;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 14px;
    position: absolute;
    width: 100%;
    bottom: 0;
}

main {
    flex: 1;
    padding: 20px;
    background-color: rgb(255, 254, 252);
    text-align: center;
    font-size: 18px;
}
.div1{
     display: flex;
     justify-content: center;
     align-items: center;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45vh;
    width: 20%;
    padding: 50px 30px;
    background-color: #3282b8;
    margin-bottom: 10px;
    border-radius: 10px;
}

.boton2{
    display: block;
    margin-top: 5px;
    background-color: #000f9be0;
    padding: 12px;
    color: #ffff;
    margin-bottom: 5px;
    border-radius: 5px;
    
}

.panelAdmin {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 80%;
    margin: auto;
}

.registro, .tabla {
    width: 48%;
    background-color: #E3DAC9; 
    margin: 10px; 
    padding: 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border-radius: 10px; 
}

.tabla {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border: 1px solid black; 
}

th {
    background-color: #000f9be0; 
    color: white; 
    padding: 10px; 
}

td {
    padding: 10px; 
    text-align: center; 
}
